
body {
  font-family: Nunito, sans-serif;
  margin: auto;
}

body p {
  color: #6B6B6B;
}

body h1 {
  color: #333333;
}

body h3 {
  color: #333333;
}

.content {
  border-left: 2px solid #707070;
}

/* Navbar */

.nav {
  display: inline-flex;
}

.nav img {
  width: 42px;
}

.nav span {
  color: grey;
}

header h1 {
  font-weight: bold;
  font-size: 32px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
}

header a {
  color: grey;
  border-top: 16px;
  border-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

/* Learn Something */

.learn {
  display: flex;
  align-items: center;
  background-color: #CCCCCC;
  margin-top: 85px;
  justify-content: flex-start;
  text-align: left;
}

.learn img {
  width: 60%;
  margin-left: 24px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.learncontent {
  margin-left: 24px;
  font-weight: bold;
  color: #565656;
}

.learncontent a {
  color: white;
  border: 2px solid #494949;
  background-color: #494949;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* Keep Learning */

.keep {
  margin-top: 32px;
  display: flex;
}

.keep img {
  width: 80%;
}

.keep-image {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.campus-image {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.keep-content {
  display: flex;
  padding: 16px 16px;
  border: 2px solid #CCCCCC;
}

.keep-text a {
  color: #009CEA;
}

.lecture-image {
  width: 100%;
}
.lecture-content {
  display: flex;
  padding: 16px;
  padding-left: 1px;
  border: 2px solid #CCCCCC;
  background-color: #CCCCCC;
}

.keep-line {
  border-left: 2px solid #CCCCCC;
}

/* Start Learning */

.start {
  background-color: #CCCCCC;
}

.start-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 72px;
  margin-right: 72px;
  padding-bottom: 32px;
}

.start-title {
  text-align: center;
  padding: 32px;
}

.start-container h1 {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.start-content {
  margin: 8px 8px;
  background-color: white;
  height: 400px;
}

.start-content img {
  width: 320px;
}

.start-content p {
  color: #6B6B6B;
  font-weight: normal;
  font-size: 20px;
}

.start-content h3 {
  font-size: 30px;
}

/* Thesis Exhibit */
.thesis {
  display: flex;
  justify-content: space-between;
}

.thesis-title {
  text-align: center;
}

.thesis-video {
  width: 150%;
}

.thesis-main {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.thesis-additional-image {
  display: flex;
  width: 150px;
  height: 150px;
}

.thesis-additional {
  display: flex;
  flex-wrap: wrap;
}

.thesis-additional-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
